@import '../../asstes/css/common.scss';

.bookkeeping{
  
  .overview{
   @extend %overview;
    // justify-content: center;
    
    .SegmentedControl{
      flex:1;
    }
  }

  .item-warrper{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // padding-top:57px;
    .item{
      width:100px;
      margin:25px 40px;
      text-align: center;
      &.active{
        .icon{
          background:$color-inline-gradient;
          color:#fff;
        }
      }
      .icon{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        line-height: 100px;
        background:#E5E5E5;
        color:#666666;
      }
      .label{
        margin-top:20px;
        font-size: 24px;
      }
    }
  }
}