@import '../../asstes/css/common.scss';

$border:1px solid #E6E6E6;

.index{
  position: relative;
  padding-bottom: 175px;
  .overview{
    @extend %overview;
    // position: absolute;
    justify-content: space-around;
    .item{
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 36px;
      color:#333;
      .title{
        color:#666;
        font-size: 24px;
      }
      .label{
        font-size: 20px;
      }
    }
  }
  .detail{
    padding:57px 25px 0;
    .date{
      display: flex;
      justify-content: space-between;
      border-bottom: $border;
      color:#999;
      font-size: 24px;
      line-height: 50px;
    }
    .detailItem{
      padding:12px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: $border;
      font-size: 32px;
      color:#333;
      line-height: 64px;
      .icon{
        background:#ffc64b;
        border-radius: 50%;
        width:64px;
        height: 64px;
        line-height: 64px;
        margin-right: 20px;
        text-align: center;
        color:#fff;
      }
    }
  }
}