@import '../../asstes/css/common.scss';

.my{
  .top{
    background: $color-inline-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    text-align: center;
    padding-bottom: 28px;
    .img{
      width:120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
    .name{
      font-size:32px;
      margin-top:10px;
    }
    .count{
      display: flex;
      justify-content: space-between;
      width:600px;
      .num{
        font-size: 36px;
      }
      .label{
        font-size: 24px;
      } 
    }
  }
  .btn{
    margin-top:100px;
    width:650px;
    background: $color-inline-gradient;
    border:none;
    color:#fff;
  }
}