.header{
  background: linear-gradient(180deg,rgba(252,138,90,1),rgba(253,106,99,1));
  // padding-top:60px;
  width:750px;
  // height:160px;
  text-align: center;
  color:#fff;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
  box-sizing: border-box;
}