@import '../../asstes/css/common.scss';

.header{
  background: $color-inline-gradient;
  // padding-top:60px;
  width:750px;
  // height:160px;
  text-align: center;
  color:#fff;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
  box-sizing: border-box;
  font-size: 36px;
  // position: relative;
  .goback{
    position: absolute;
    left:35px;
  }
}